*{
    padding: 0px;
    margin: 0px;
}
#edu{
    background-image: url(/dark-background-abstract-background-network-3d-background-1920x1080-8324.png);
    height: 100vh;
}
h2{
    color: azure;
    text-align: center;
    padding-top: 30px;
}
table{
text-align: center;
}
td{
    color: white;
    font-size: large;
    text-align: center;
}
th{
    color: white;
}
